body {
	border: 20px solid #bdc3c7;
	font-family: source sans pro;
	width: 75%;
	height: 95%;
	margin: auto;
}

h3 {
	color: #3498db;
	padding-left: 20px;
	text-transform: uppercase;
	letter-spacing: 5px;
}

h2 {
	color: #2c3e50;
	font-weight: 800;
	font-size: 35px;
	padding-left: 20px;
}

hr {
	border: 0;
	height: 1px;
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

p {
	padding-left: 20px;
	font-weight: 600;
}

.special {
	border-left: 3px solid #bdc3c7;
	margin-left: 20px;
	font-style: italic;
}